################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

FsBossaNolRunner/obj
FsBossaNolRunner/bin
/.vs
/packages