################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

FsBossaNolRunner/obj
FsBossaNolRunner/bin
FsBossaNolRunner.Tests/obj
FsBossaNolRunner.Tests/bin
/.vs
/packages